.dropdownMenuItem {
  width: 220px;
  height: 300px;
  box-shadow: 0px 0px 5px 0px grey;
  padding: 5px;
  box-sizing: border-box;
  overflow: scroll;
}

.dropdownMenuItems {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  box-sizing: border-box;
}

.dropdownMenuItems:hover {
  background-color: rgb(228, 228, 228, 30%);
}

.img {
  width: 250px;
  height: 250px;
}

.navigationContainer {
  display: flex;
  position: relative;
  left: 100px;
}

.navigation {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid gray;
}

body,
.container {
  display: flex;
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  gap: 100px;
}

.dropdownTrigger {
  border: none;
  padding: 5px 25px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 220px;
}

.dropdownMenuItem,
.dropdownTrigger {
  border-radius: 5px;
}
