:root {
  --system-ui:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: var(--system-ui);
}

.carouselImgSwitcherContainer {
  display: flex;
  align-items: center;
  gap: 25px;
}

.img {
  height: 250px;
  width: 250px;
}

.dropdownMenuItem {
  width: 220px;
  height: 300px;
  box-shadow: 0px 0px 5px 0px grey;
  padding: 5px;
  box-sizing: border-box;
  overflow: scroll;
}

.dropdownMenuItems {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  box-sizing: border-box;
}

.dropdownMenuItems:hover {
  background-color: rgb(228, 228, 228, 30%);
}

.img {
  width: 250px;
  height: 250px;
}

.navigationContainer {
  justify-content: center;
  margin-top: 25px;
}

.navigation {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid gray;
}

body,
.container,
.navigationContainer {
  display: flex;
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  gap: 100px;
}

.dropdownTrigger {
  padding: 5px 25px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 220px;
}

button {
  border: none;
  font-weight: bold;
}

.dropdownMenuItem,
.dropdownTrigger,
.img {
  border-radius: 5px;
}

.imageCarousel {
  flex-direction: column;
  justify-content: center;
}

.previousBtn,
.nextBtn {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
